@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: black;
  background-image: url(./pic.jpg);
  background-size: 100%;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  background-color: #dac9c9;
  font-size: large;
 
  transition: all 0.1s ease;
  transform: scale(1);
}
.button:hover{
    background-color: rgb(255, 255, 254);
    cursor: pointer;
    transform: scale(1.25);
    filter: brightness(200%);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #d5caca;
}
.text-center{
    text-align: center;
  }
  
  
  
  .max{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
